<h1>Cart:</h1>

<table class="table">
  <thead>
    <th>Code</th>
    <th>Name</th>
    <th>Price</th>
    <th>Count</th>
    <th>Discount</th>
    <th>Subtotal</th>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5"> <strong>Total</strong></td>
      <td> <strong><%= cart.total %></strong></td>
    </tr>
    <tr>
      <td colspan="5"><strong>Total with Discount</strong></td>
      <td> <strong><%= @total %></strong></td>
    </tr>
  </tfoot>
  <tbody>
    <% cart.line_items.each do |line_item| %>
      <tr>
        <td> <%= line_item.item_code %></td>
        <td> <%= line_item.item_name %></td>
        <td> <%= line_item.item_price %></td>
        <td> <%= line_item.quantity %></td>
        <td> <%= item_has_promotion?(line_item.item) %></td>
        <td> <%= line_item.sub_total %></td>
      </tr>
    <% end -%>
  </tbody>

</table>

<%= link_to items_path, class: 'btn btn-info' do %>
  <i class="icon-share-alt glyphw"></i>
  Continue shopping
<% end -%>

<%= link_to cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>
  <i class="icon-trash glyphw"></i> Empty Cart
<% end -%>
