<h1>Cart:</h1>

<table>
  <thead>
    <th>Code</th>
    <th>Name</th>
    <th>Price</th>
    <th>Count</th>
    <th>Discount</th>
    <th>Subtotal</th>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5"> <strong>Total</strong></td>
      <td> <strong><%= cart.total %></strong></td>
    </tr>
    <tr>
      <td colspan="5"><strong>Total with Discount</strong></td>
      <td> <strong><%= @total %></strong></td>
    </tr>
  </tfoot>
  <tbody>
    <% cart.line_items.each do |line_item| %>
      <tr>
        <td> <%= line_item.item.code %></td>
        <td> <%= line_item.item.name %></td>
        <td> <%= line_item.item.price %></td>
        <td> <%= line_item.quantity %></td>
        <td> <%= item_has_promotion?(line_item.item) %></td>
        <td> <%= line_item.sub_total %></td>
      </tr>
    <% end -%>
  </tbody>

</table>

<%= link_to "Go to Store", items_path %>
<%= link_to "Empty cart", cart, method: :delete, confirm: 'Are you sure?' %>
