<h1> Products </h1>
<table class="table">
  <thead>
    <th>Code</th>
    <th>Name</th>
    <th>Price</th>
    <th>Promotions</th>
    <th>Action</th>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <tr>
        <td> <%= item.code %></td>
        <td> <%= item.name %></td>
        <td> <%= item.price %></td>
        <td> <%= item_has_promotion?(item) %></td>
        <td>
          <%= link_to line_items_path(item), method: :post, class: "btn btn-success" do %>
            <i class="icon-shopping-cart glyphw" id="cart"></i>
            Add to cart
          <% end %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
